.App {
  text-align: center;
  font-size: 19px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7e73f;
  padding: 12px 30px; 
}

.navbar a {
  color: black;
  font-weight: bold; 
  text-align: center;
  padding: 10px 10px 10px 45px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: rgba(61, 245, 217, 0.5); 
  color: black;
  transition: 0.3s;
}

.navbar div:last-child {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 30px;
}

/* Home Page Styles */
.home-container {
  color: #282c34;
}

.table-content {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
}

th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid #050505;
  background-color: rgb(242, 242, 255);
}

/* Session Page Styles */
.session-container {
  padding: 20px;
  background-color: rgb(242, 242, 255);
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 25px;
}

/* Contact page Style */
.contact-container {
  text-align: left;
  padding: 20px;
  margin-top: 40px;
  background-color: rgb(242, 242, 255);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd285; 
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-weight: bold;
  color: black;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
